# Core API and web framework (if needed)
fastapi
uvicorn[standard]
pydantic

# PostgreSQL support (via db_service)
psycopg2-binary
python-dotenv

# LangChain + Text Embedding
openai
langchain
langchain_text_splitters
tiktoken
tenacity

# Vector store
chromadb==1.0.9

numpy>=2.0
protobuf>=5  # newer versions conflict with 0.4.x
tokenizers==0.13.3

# Document parsing
python-docx
pandas
tqdm
